/*.md
/.bundle
/.byebug_history
/.env*
/.git
/.gitignore
/.dockerignore
/.travis.yml
/docker-compose.*
/Dockerfile
/Procfile*
/coverage
/log/*
/node_modules
/public/assets
/public/packs
/storage
/tmp/*
