version: '3.7'

services:
  app: &app_base
    image: rebelsmanager_app_development
    build:
      context: .
      args:
        - ADDITIONAL_PACKAGES=nodejs yarn build-base git
        - EXECJS_RUNTIME=Node
        - RAILS_ENV=development
    environment:
      - APP_URL=http://localhost:3000
      - LOCKBOX_MASTER_KEY=a99f1102dc6752a4f6ec3f817e42c19d2677c04a0133993b5baab19671e55651
      - POSTGRES_HOST=db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - RAILS_ENV=development
      - RAILS_MAX_THREADS
      - REDIS_CABLE_URL=redis://redis:6379/1
      - REDIS_CACHE_URL=redis://redis:6379/2
      - REDIS_SIDEKIQ_URL=redis://redis:6379/0
      - XR_BRANCH_DEFAULT_LANGUAGE=en
      - XR_BRANCH_TIMEZONE=Europe/Brussels
      - SECRET_KEY_BASE=86f2848eba353044ea0902245d52c8d53c535c1529299a6ca4e528cb275201672ff80d90611d46c617f8cffbf4562e936e55e135a74170526629305422c2210e
    links:
      - db
      - redis
    volumes:
      - ./:/app
      - gems:/usr/local/bundle
      - node-modules:/app/node_modules
    ports:
      - 3000:3000

  db:
    image: postgres:11.6-alpine
    environment:
      - POSTGRES_PASSWORD
    volumes:
      - db-data:/var/lib/postgresql/data

  redis:
    image: redis:alpine

  worker:
    <<: *app_base
    command: bundle exec sidekiq
    ports: []
    depends_on:
      - app

volumes:
  gems:
  db-data:
  node-modules:
