- content_for :page_header do
  = render 'layouts/components/page_header',
           title: "Edit: #{@rebel.email}",
           links: [ \
             link_to( \
               'Cancel',
               rebel_path(@rebel),
               class: 'hollow secondary button' \
             ) \
           ]

= simple_form_for @rebel,
                  url: rebel_path(@rebel),
                  data: { abide: true } do |f|
  = render "layouts/components/form_errors", object: f.object
  = render "form", f: f

  = f.button :submit,
             "Save"
