<?xml version="1.0"?>
<svg xmlns="http://www.w3.org/2000/svg" id="Light" viewBox="0 0 24 24">
  <defs>
    <style>.cls-1{fill:none;stroke-linecap:round;stroke-linejoin:round;}</style>
  </defs>
  <path class="cls-1" d="M.541,5.627,11.666,18.2a.5.5,0,0,0,.749,0L23.541,5.627"></path>
</svg>
