<?xml version="1.0"?>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <defs>
        <style>.a{fill:none;stroke-linecap:round;stroke-linejoin:round;}</style>
    </defs>
    <rect class="a" x="0.5" y="2.501" width="23" height="21" rx="1" ry="1"></rect>
    <line class="a" x1="5.5" y1="0.501" x2="5.5" y2="5.501"></line>
    <line class="a" x1="18.5" y1="0.501" x2="18.5" y2="5.501"></line>
    <line class="a" x1="0.5" y1="7.501" x2="23.5" y2="7.501"></line>
</svg>
