<?xml version="1.0"?>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <defs>
        <style>.a{fill:none;stroke-linecap:round;stroke-linejoin:round;}</style>
    </defs>
    <polyline class="a" points="21.5 1.999 9 17.499 4 12.499"></polyline>
    <path class="a" d="M18.5,12V22.5a1,1,0,0,1-1,1H1.5a1,1,0,0,1-1-1V6.5a1,1,0,0,1,1-1H13"></path>
</svg>
