<?xml version="1.0"?>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <defs>
      <style>.a{fill:none;stroke-linecap:round;stroke-linejoin:round;}</style>
  </defs>
  <line class="a" x1="23.5" y1="0.499" x2="14" y2="9.999"></line>
  <line class="a" x1="10" y1="13.999" x2="0.5" y2="23.499"></line>
  <polyline class="a" points="17 0.499 23.5 0.499 23.5 6.999"></polyline>
  <polyline class="a" points="0.5 16.999 0.5 23.499 7 23.499"></polyline>
</svg>
