<?xml version="1.0"?>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <defs>
    <style>.a{fill:none;stroke-linecap:round;stroke-linejoin:round;}</style>
  </defs>
  <line class="a" x1="21" y1="7" x2="3" y2="7"></line>
  <line class="a" x1="21" y1="12" x2="3" y2="12"></line>
  <line class="a" x1="21" y1="17" x2="3" y2="17"></line>
</svg>
