<?xml version="1.0"?>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <defs>
      <style>.a{fill:none;stroke-linecap:round;stroke-linejoin:round;}</style>
  </defs>
  <line class="a" x1="13.5" y1="10.499" x2="23.5" y2="0.499"></line>
  <line class="a" x1="0.5" y1="23.499" x2="10.5" y2="13.499"></line>
  <polyline class="a" points="20.5 10.499 13.5 10.499 13.5 3.499"></polyline>
  <polyline class="a" points="10.5 20.499 10.5 13.499 3.5 13.499"></polyline>
</svg>
