= f.input :email,
          label: "Email",
          required: true,
          placeholder: "Email address"

= f.input :password,
          as: :password,
          label: "Password",
          placeholder: "Password"

= f.input :local_group_id,
          as: :select,
          label: "Local Group",
          hint: "Selecting one will restrict access to this LG rebels only",
          collection: LocalGroup.all.order(:name),
          prompt: "Select a local group",
          required: false

= f.input :role,
          as: :select,
          label: "Role",
          collection: [["Standard user", nil], ["Ringer", "ringer"]],
          prompt: "Select a role",
          required: false