= f.error_notification

= f.input :name,
          label: "Skill name *",
          required: true,
          placeholder: "Skill name"

= f.input :description,
          as: :text,
          input_html: { rows: 3 },
          label: "Skill description",
          required: false

= f.input :code,
          label: "Code",
          hint: "3 characters, required for creating segments on Mailtrain",
          required: true,
          input_html: { pattern: "^[a-zA-Z0-9]{3}$", class: "uppercase" }
