#header {
  padding: $global-padding 0;
  border-bottom: 10px solid $color-light-green;
  background-color: $color-green;

  &__logo {
    img {
      height: 8rem;
    }
  }
}

#main {
  padding: $global-padding 0;

  form {
    .help-text {
      margin: .05rem 0 .5rem;
    }
  }
}

#footer {
  padding: $global-padding 0;
  color: $color-dark-gray;
}
