@mixin xr-reveal {
  .reveal {
    @include shadow();
    outline: none;

    .modal-menu {
      display: flex;

      &__icon {
        margin-left: 1.5rem;

        svg {
          height: 1.25rem;
          stroke: $black;
        }

        &--close {

        }

        &--expand {

        }
      }
    }
  }
}
