h1
  |
    Nous sommes la dernière génération à pouvoir changer le cours de l'histoire.
    Aidez-nous.

p
  | Amis, famille, sympathisants,

p
  |
    Notre système climatique repose sur un équilibre très fragile, mis en danger
    par l'activité humaine. Nous ne sommes pas les seuls menacés, toute la
    biodiversité est en danger. Il est temps de s'engager pour changer
    durablement les choses. Les discussions au sommet des états et les actions
    individuelles, bien que nécessaires, ne sont plus suffisantes. L'urgence
    climatique doit être décrétée avant qu'il ne soit trop tard.

p
  strong
    |
      Ce que nous défendons par le biais d'actions directes et via une
      résistance non violente:

ol
  li
    |
      La reconnaissance de la gravité et de l’urgence des crises écologiques
      actuelles et une communication honnête sur le sujet;
  li
    |
      La réduction immédiate des émissions de gaz à effet de serre pour
      atteindre la neutralité carbone en 2025, grâce à une réduction de la
      consommation et une descente énergétique planifiée;
  li
    |
      L’arrêt immédiat de la destruction des écosystèmes océaniques et
      terrestres, à l’origine d’une extinction massive du monde vivant;
  li
    |
      La création d’une assemblée citoyenne chargée de décider des mesures à
      mettre en place pour atteindre ces objectifs et garante d’une transition
      juste et équitable.

h3 Soutien financier

p
  |
    Certains ont l'opportunité de s'investir physiquement. D'autres apportent
    leur soutien et leurs idées. Nous nous tournons vers vous, qui avez
    aujourd'hui l'opportunité de soutenir financièrement un mouvement
    international en pleine croissance.

p
  |
    Nous avons un compte au sein de Open Collective Europe ASBL.

p
  |
    Une gestion en total transparence. Les rentrées et les sorties d'argent
    apparaissent de mêmes que les donateurs qui le souhaitent.

p
  = link_to "https://opencollective.com/xr-namur",
            "https://opencollective.com/xr-namur",
            target: "_blank",
            class: "info button"

p
  |
    Merci d'avance pour votre générosité et votre soutien.
