= f.input :name,
          label: "Nickname",
          placeholder: "Nickname",
          required: true

= f.input :local_group,
          as: :select,
          label: "Local Group",
          collection: LocalGroup.all.order(:name),
          prompt: "Select a local group",
          required: true

= f.input :email,
          as: :email,
          label: "Email address",
          placeholder: "Email address",
          required: true

= f.input :phone,
          label: "Mobile phone",
          placeholder: "Mobile phone",
          required: false,
          hint: "Votre numéro n'est utilisé que pour vous prévenir lorsqu'une action publique est organisée par Extinction Rebellion"

= f.input :on_basecamp,
          as: :boolean,
          label: "This rebel has a Basecamp account",
          wrapper: :foundation_checkbox

= f.input :irl,
          as: :boolean,
          label: "This rebel has been met IRL",
          wrapper: :foundation_checkbox

= f.input :notes,
          as: :text,
          input_html: { rows: 5 },
          label: "Quelles sont vos compétences? Comment pouvez-vous aider Extinction Rebellion?",
          required: false
