= f.input :name,
          label: "Pseudo",
          placeholder: "Pseudo",
          required: true

= f.input :email,
          as: :email,
          label: "Adresse email",
          placeholder: "Adresse email",
          required: true

= f.input :phone,
          label: "Numéro de GSM",
          placeholder: "Numéro de GSM",
          required: false,
          hint: "Votre numéro n'est utilisé que pour vous prévenir lorsqu'une action publique est organisée par Extinction Rebellion"

= f.input :on_basecamp,
          label: "Ce rebelle a accès au Basecamp",
          wrapper: :foundation_checkbox

= f.input :notes,
          as: :text,
          input_html: { rows: 5 },
          label: "Quelles sont vos compétences? Comment pouvez-vous aider Extinction Rebellion?",
          required: false
