// Interface Colors
$color-success: #6BB03F;
$color-warning: #F3B04C;
$color-alert: #E64F33;

// Utility Colors
$color-extra-light-gray: #F2F2F2;
$color-light-gray: #C8CCCD;
$color-medium-gray: #95979b;
$color-dark-gray: #51535A;
$color-almost-black: #1E3141;

// XR Colors
$color-green: #16A938;
$color-black: #000000;
$color-lemon: #F7EE6A;
$color-light-blue: #75D1F1;
$color-pink: #ED9CC4;
$color-purple: #985C9B;
$color-light-green: #BFD277;
$color-warm-yellow: #FFC11E;
$color-bright-pink: #CF6297;
$color-red: #DC5001;
$color-dark-blue: #3760AA;
$color-angry: #C70083;

// Labels Colors
$color-label-blue: rgba(41, 121, 184, 1);
$color-label-green: rgba(107, 176, 63, 1);
$color-label-orange: rgba(255, 125, 40, 1);
$color-label-purple: rgba(142, 62, 99, 1);
$color-label-gray: $color-dark-gray;
$color-label-red: #E64F33;
