= f.error_notification

= f.input :name,
          label: "Group name",
          required: true,
          placeholder: "Group name"

= f.input :local_group_id,
          as: :select,
          label: "Local Group",
          collection: LocalGroup.all.order(:name),
          prompt: "Select a local group",
          required: true

= f.input :color,
          label: "Color",
          hint: "eg. #CC1234"

= f.input :code,
          label: "Code",
          hint: "3 characters, required for creating segments on Mailtrain",
          required: true,
          input_html: { pattern: "^[a-zA-Z0-9]{3}$", class: "uppercase" }
